/* styles/Header.css */

/* Aplicando los estilos definidos en theme.css */
@import './theme.css';

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--color-background);  /* Usar color de fondo del tema */
    z-index: 1000;  /* Para que quede encima de otros contenidos */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);  /* Sombra suave para la navbar */
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    color: var(--color-text);  /* Color de texto para los enlaces */
    font-weight: bold;
    padding: 10px;
    transition: color 0.3s ease;  /* Suavizar el cambio de color en hover */
}

nav a:hover {
    color: var(--color-link-hover);  /* Cambiar el color en hover */
}

nav a.active {
    color: var(--color-accent);  /* Resaltar el enlace activo con el color de acento */
}

.section {
    padding: 100px;
}

.change-animation-btn {
  background-color: #fd4e20; /* Color naranja */
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 5px;
  transition: background-color 1s ease;
}

.change-animation-btn:hover {
  background-color: #e04000; /* Color naranja más oscuro al pasar el ratón */
}

